<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cercle CRM</title>
    <link rel="icon" href="/images/favico.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
    <!-- ICONS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//unpkg.com/element-ui@1.3.3/lib/theme-default/index.css">
    <%= if Guardian.Plug.current_token(@conn) do %>
    <meta name="guardian_token"  content="<%= Guardian.Plug.current_token(@conn) %>">
    <meta name="user_image", content="<%= CercleApi.UserProfileImage.url({@conn.assigns[:current_user].profile_image, @conn.assigns[:current_user]}, :small) %>" >
    <meta name="time_zone", content="<%= @conn.assigns[:current_user].time_zone %>" >
    <meta name="user_id", content="<%= @conn.assigns[:current_user].id %>" >
    <meta name="company_id", content="<%= @conn.assigns[:current_company].id %>" >

    <% end %>

    <%= if Mix.env == :prod do %>
      <script type="text/javascript">
        if(window.location.hostname == "www.cercle.co") {
          window.smartlook||(function(d) {
          var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
          var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
          c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
          })(document);
            smartlook('init', '<%= Application.get_env(:smartlook, :key) %>');
        }
      </script>
    <% end %>
  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="hold-transition skin-blue layout-top-nav async-ready" style="height: 100vh;">
    <notification id="notification-app"></notification>

    <div class="wrapper main-app ":class="[classPageWrapper]">

      <header class="main-header">
        <%= render CercleApi.SharedView, "navbar.html", conn: @conn%>
      </header>

      <!-- Full Width Column -->
      <div class="content-wrapper" :class="[classWrapper]">
        <%= render CercleApi.SharedView, "flashes.html", conn: @conn %>

        <router-view name="board-sidebar-toggle"></router-view>
          <div :class="[classContainer]">
            <%= render @view_module, @view_template, assigns %>
          </div><!-- /.container -->
        <router-view name="board-sidebar" ref="boardSidebar"></router-view>
      </div><!-- /.content-wrapper -->


    </div><!-- ./wrapper -->
    <glmodal id="global-modal-window"></glmodal>
    <gl-attachment-preview id="global-attachment-preview"></gl-attachment-preview>
    <script>window.csrfToken = '<%= get_csrf_token() %>';</script>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if (@conn.assigns[:current_user].id) do %>
      <%= if Mix.env == :prod do %>
     <script type="text/javascript" src="//storage.googleapis.com/instapage-assets/conversion-external.js"></script><iframe class="instapage-noscrap" src="//d3mwhxgzltpnyp.cloudfront.net/local-storage/index.html" name="instapage-local-storage" height="0px" width="0px" onload="(function() { InstapageExternalConversion(5479756); })();" style="display: block;"></iframe>
    <script>
      window.intercomSettings = {
      app_id: "mkbrkdwj",
      name: "<%=@conn.assigns[:current_user].full_name%>", // Full name
      email: "<%=@conn.assigns[:current_user].login%>" // Email address
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/mkbrkdwj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <%end%>
    <%end%>

  </body>
</html>
