<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cercle CRM</title>
    <link rel="icon" href="/images/favico.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
    <!-- ICONS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-default/index.css">
    <%= if Guardian.Plug.current_token(@conn) do %>
    <meta name="guardian_token"  content="<%= Guardian.Plug.current_token(@conn) %>">
    <meta name="user_image", content="<%= CercleApi.UserProfileImage.url({@conn.assigns[:current_user].profile_image, @conn.assigns[:current_user]}, :small) %>" >
    <meta name="time_zone", content="<%= @conn.assigns[:current_user].time_zone %>" >
    <meta name="user_id", content="<%= @conn.assigns[:current_user].id %>" >
    <meta name="company_id", content="<%= @conn.assigns[:current_company].id %>" >

    <% end %>

    <%= if Mix.env == :prod do %>
      <script type="text/javascript">
        if(window.location.hostname == "www.cercle.co") {
          window.smartlook||(function(d) {
          var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
          var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
          c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
          })(document);
            smartlook('init', '<%= Application.get_env(:smartlook, :key) %>');
        }
      </script>
    <% end %>
  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="hold-transition skin-blue layout-top-nav async-ready">
    <notification id="notification-app"></notification>
    <div class="wrapper wrapper_<%= wrapper_css_class @conn %>">

      <header class="main-header">

        <nav class="navbar navbar-static-top" style="background-color:black;">
          <div class="container">
            <div class="navbar-header">
              <a href="/" class="navbar-brand">
                <img src="/images/logo_cercle2.png" style="width:56px;position:relative;top:-14px;left:10px;">
              </a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

              <ul class="nav navbar-nav">
                <%= if assigns[:current_company] do %>
                <li>
                  <a href="/company/<%= assigns[:current_company].id %>/activity">
                    <!--
                        <span class="label label-primary">4</span>
                        -->
                    Inbox
                  </a>
                </li>
                <li><a href="/company/<%= assigns[:current_company].id %>/board">Boards</a></li>
                <li><a href="/company/<%= assigns[:current_company].id %>/contact">People</a></li>
                <li>
                  <%end%>
              </ul>

            </div><!-- /.navbar-collapse -->

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu" id="user-navbar">
              <navbar
                :user="<%= Poison.encode! @conn.assigns[:current_user] %>"
                :company="<%= Poison.encode! @conn.assigns[:current_company] %>"
                :companies="<%= Poison.encode!(CercleApi.Company.user_companies(@conn.assigns[:current_user])) %>"
                />
            </div><!-- /.navbar-custom-menu -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>
      <!-- Full Width Column -->
      <div class="content-wrapper <%= wrapper_css_class @conn %>">
        <%= render CercleApi.SharedView, "flashes.html", conn: @conn %>

        <%= if show_board_menu?(@conn) do %>
        <a href="#" id="toggle-activity-panel" class="btn pull-right" style="margin-top:20px;">
          <i class="fa fa-fw fa-ellipsis-h"></i>
          Show Menu
        </a>
        <% end %>

        <%= if assigns[:no_container] do %>
        <%= render @view_module, @view_template, assigns %>
        <%= end %>

        <%= if !assigns[:no_container] do %>
          <div class="container">
            <%= render @view_module, @view_template, assigns %>
          </div><!-- /.container -->
        <%end%>

      </div><!-- /.content-wrapper -->


      <%= if show_board_menu?(@conn) do %>
      <aside class="control-sidebar control-sidebar-light" >
        <!-- Create the tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
          <h3>
            <button type="button" class="close" aria-label="Close" id="close-sidebar" ><span aria-hidden="true">&times;</span></button>
          </h3>
          <Br/>
          <Br/>
          <div style="margin-bottom:10px;">
            <a href="/company/<%= assigns[:current_company].id %>/board/<%= assigns[:board].id %>/edit" style="display: block;text-align: center;background: white;padding: 5px 20px;border-radius: 3px;color: #333;cursor: pointer;border:1px solid #e2e2e2;">Edit Board</a>
          </div>
          <div id="archive-board">
            <archive-board board-id="<%= assigns[:board].id %>" archived="<%= assigns[:board].archived %>" />
          </div>

          <div id="recent-activities-app">
            <activities board_id="<%= assigns[:board].id %>"/>
          </div>
        </div>
      </aside>
      <% end %>
      <glmodal id="global-modal-window"></glmodal>
      <gl-attachment-preview id="global-attachment-preview"></gl-attachment-preview>
    </div><!-- ./wrapper -->
    <script>window.csrfToken = '<%= get_csrf_token() %>';</script>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if (@conn.assigns[:current_user].id) do %>
    <script>
      if (window.location.hostname == "www.cercle.co") {
      window.intercomSettings = {
      app_id: "mkbrkdwj",
      name: "<%=@conn.assigns[:current_user].user_name%>", // Full name
      email: "<%=@conn.assigns[:current_user].login%>" // Email address
      };
      }
    </script>
    <%= if Mix.env == :prod do %>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/mkbrkdwj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <%end%>
    <%end%>

  </body>
</html>
