#board-app {
  .tilt {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
  }

  .tilt:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: block;
  }

  body {
    min-width: 1240px !important;
  }

  .container {
    min-width: 1240px !important;
  }
  .column_title {
    height: 50px;
    color:#525252;
    margin-bottom:10px;
    font-size:18px;
    white-space: normal;
    padding:10px;
  }
  .column {
    width: 250px;
    padding-bottom: 100px;
    padding-left:10px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
    background-color: red;
  }

  .ui-widget-content{
    border: 1px solid #e0e0e0;
  }
  #columns-container {
    display: block;
    width: 100vw;
    height: 90vh;
    overflow: scroll;
    white-space:nowrap;
    overflow-y: hidden;
  }
  #board_columns {
    overflow-x: auto;
    height: calc(100vh - 148px);
    .column_master {
      max-height: calc(100vh - 162px);
      width: 250px;
      display:inline-block;
      vertical-align:top;
      margin-left:10px;
      background-color:#e0e0e0;
      border-radius:5px;
      white-space:normal;
      .column {
        overflow-x: auto;
        padding-bottom: 0px;
        max-height: calc(100vh - 244px);
        min-height: 15px;
      }
      .textarea-inline-editable {
        font-weight:800;
        font-size:16px;
        border:0px solid grey;
        resize: none;
        background-color:#d0d0d0;
        border-radius:3px;
        overflow: hidden;
        word-wrap: break-word;
        height: 54px;
        width: 202px;
        padding:3px;
      }
      #actions {
        position: absolute;right: 4px;top: 4px;width:18px;height:18px;color:grey;font-size:12px;
      }
    }
    #add_new_column {
      width: 250px;
      display:inline-block;
      vertical-align:top;
      margin-left:30px;
      background-color:#e0e0e0;
      border-radius:5px;
      height:150px;
      background-color:white;
      font-weight:800;
      padding:10px;
      font-size:16px;
      input[type="text"] {
        margin-top:10px;
        margin-bottom:10px;
        font-weight:800;
        font-size:16px;
        border:0px solid grey;
        resize: none;
        background-color:white;
        border-radius:3px;
        overflow: hidden;
        word-wrap: break-word;
        height: 54px;
        width: 202px;
        padding:3px;
        border:1px solid grey;
      }
    }
  }
}
