.contact-edit {
  .opportunity-tags {
    cursor:pointer;
    font-weight:bold;
    color:grey;
    font-size:15px;
    vertical-align: top;
    background-color:white;
    display:inline-block;
    width:120px;
    height:120px;
    padding:15px;
    margin-right:10px;
    text-align: center;
    padding:3px;
    text-decoration:underline;
  }
  h1 {
    text-align: center;
  }
  .btn-link {
    font-weight:bold;
    display:inline-block;
    padding:0px 3px 3px 3px;
    border-radius:5px;
    margin-right:7px;
    color:grey;
    text-decoration:underline;
    &:active {

      box-shadow: none;
      border: none;
      outline: none;
    }
    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
  .show-add-card-form {
    font-weight:bold;
    display:inline-block;
    padding:0px 3px 3px 3px;
    border-radius:5px;
    margin-right:7px;
    color:grey;
    text-decoration:underline;
  }
  /* profile block */
  .contact-tags-box {
    .open-indicator{
      display: none !important;
    }
  }


  /* organization block */
  .add-organization {
    font-size:16px;
  }

  /* opportunity block */
  .opportunity-block {
    .post {
      background-color:white;
      padding:20px;
      margin-bottom:10px;
      padding-top: 0px;
    }
    button.browse {
      margin-top:10px;
      margin-right:10px;
      width:110px;
    }
    button.archive {
      margin-top:10px;
      margin-right:10px;
      width:110px;
    }
    .managers {
      margin-right:20px;
      margin-bottom:10px;
    }
    a.o_contact  {
      font-weight:bold;
      display:inline-block;
      padding:3px;
      border-radius:5px;
      margin-right:7px;
      color:grey;
      text-decoration:underline;
    }
    .add_o_contact {
      font-size: small;
      font-weight:bold;
      display:inline-block;
      padding:3px;
      border-radius:5px;
      margin-right:7px;
      color:grey;
      &:hover {
        color:grey;
        box-shadow: none;
      }
      &:active {
        color:grey;
        box-shadow: none;
      }

      &:focus {
        color:grey;
        box-shadow: none;
      }
    }
  }


  /* TO-DO block */

  .contact-to-dos {
    h3 {
      margin-top:0px;
      border-bottom:0px solid #d8d8d8;
    }
    .add-to-do {
      padding-left:15px;
      button {
        letter-spacing: 1px;
        color:grey;
        font-weight:bold;
      }
    }
    .remove-task {
      font-size:10px;line-height:30px;text-align:right;
      button {
        font-size: 7.9pt;
        i {
          color:#cacaca;
        }
      }
    }
    .title-input {
      width: 100%;
    }
    .task-time {
      .time-picker {
        max-width: 100px;
        input {
          max-width: 100px;
        }
        .dropdown {
          max-width: 100px;
          .select-list {
            max-width: 100px;
          }
        }
      }
    }
    .task-is-done {
      border: 0px solid grey;

      /*** custom checkboxes ***/
      label { margin-top: -5px; }
      input[type=checkbox] { display:none; } /* to hide the checkbox itself */
      input[type=checkbox] + label:before {
        font-family: FontAwesome;
        display: inline-block;
        font-size: 24px;
        -webkit-text-stroke: 2px white;
      }

      input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
      input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

      input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
      input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
    }
  }

  /* events block*/
  .contact-page-events {
    .event {
      padding:5px;
      padding-top:0px;
      margin-bottom:20px;
      .user-block {
        float:left;
        width:45px;
        margin-left:10px;
      }
      .message-block {
        margin-left:60px;
        .well {
          padding:15px;
          font-size:15px;
          color:#292929;
          background-color:white;
          border-radius:5px;
          margin-bottom:5px;
          margin-right:18px;
        }
      }
    }
  }

  /* comment form */
  .contact-comments-form {
    h3 {
      margin-top:0px;
      border-bottom:0px solid #d8d8d8;
      i {
        color:#d8d8d8;
      }
    }
    .message-block {
      margin-left:50px;
      margin-right:10px;
      textarea {
        height:70px;
      }
    }
  }


}



.import-parent-div{
	padding: 10px 20px;
	background: white;
	border: 1px solid black;
	margin-top: 10px;
}
.steps-ul{
	margin:none;
	padding: 2px 0px 0px 0px;
	list-style: none;
}

.steps-li{
	/*border-radius: 4px 0px;*/
	padding: 8px 16px;
    width: 33%;
    display: inline-block;
    position: relative;
}

.steps-li-inactive{
	background-color: #f3f5f6;
	color: #888e94;
	border:1px solid #e0e4e7;
}

.steps-li-active{
	background-color: #3C8DBC;
	color: white;
	border:1px solid #3C8DBC;
}

.upload-outer-box{
	padding: 10px 20px;
	background: white;
	border: 1px solid black;
	margin-top: 2px;
}

.upload-dashed-box{
    margin-top: 40px;
	border: 2px dashed #c2c8cd;
	border-radius: 3px;
	background-color: #f3f5f6;
	box-sizing: border-box;
    margin-bottom: 20px;
}

.upload-dashed-box .errors{
    color: red;
    font-style: italic;
    font-size: 20px;
}
	
.upload-info-box{
	margin: 60px 60px 30px;
	text-align: center;
}

.arrow{
	background-color: #fff;
	position: absolute;
    content: "";
    right: -3px;
    bottom: -1px;
    top: -2px;
    width: 2px;
    z-index: 1;
}

li.active span.arrow:before {
    border-left-color: #fff;
}
li.active span.arrow:after {
    border-left-color: #3C8DBC;

}
.arrow:before{
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
    right: -10px;
    border-left: 12px solid #e0e4e7;
}

.arrow:after{
    border-left-color: #888e94;
    right: -8px;
    border-left: 11px solid #f3f5f6;
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
}
li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}
.completed{
    background-color: #43c35e;
    color: #fff;
    border: 1px solid #43c35e;
}

li.completed span.arrow {
    background-color: #fff;
}

li.completed span.arrow:before {
    border-left-color: #fff;
}

li.completed span.arrow:after {
    border-left-color: #43c35e;
}

.upload-outer-box #progress, .upload-outer-box #final-progress{
    margin-bottom: 10px;
    background-color: transparent;
}

#sec-2{
    max-height:400px;
    overflow: hidden;
}
.mapping-sections{
   padding-top: 20px;
   max-height: 300px;
}
.mapping-sections #left-section #left-section-table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 8px; 
    margin-bottom: 0px;
}
.mapping-sections #left-section #left-section-table .csv-fields{
    border:1px solid #c2c8cd;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right-width: 0;
    padding: 7px 20px;
}
.mapping-sections #left-section #left-section-table .drop-fields{
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-color: #c2c8cd;
    font-style: italic;
    vertical-align: middle;
    padding: 7px 20px;
}

.mapping-sections #left-section #left-section-table .contact-fields{
    border:1px solid #c2c8cd;
    border-radius: 3px;
    font-weight: bold;
    vertical-align: middle;
    padding: 7px 20px;
}

.mapping-sections #left-section #left-section-table .organization-fields{
    border:1px solid #c2c8cd;
    border-radius: 3px;
    font-weight: bold;
    padding: 7px 20px;
}

.mapping-sections #left-section{
    max-height: 300px;
    overflow-y: auto;
}
.mapping-sections #right-section{
    /*border-left: 1px solid black;*/
    max-height: 300px;
    overflow-y: auto;
}

.mapping-sections #right-section #contact-field-table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-bottom: 0px;
}
.mapping-sections #right-section #contact-field-table .contact-fields{
    border:1px solid #c2c8cd;
    border-radius: 3px;
    font-weight: bold;
    cursor: move;
    padding: 8px 20px;
}
.mapping-sections #right-section #organization-field-table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-bottom: 0px;
}
.mapping-sections #right-section #organization-field-table .organization-fields{
    border:1px solid #c2c8cd;
    border-radius: 3px;
    font-weight: bold;
    cursor: move;
    padding: 8px 20px;
}
.contact-fields{
    border:1px solid #c2c8cd;
    border-radius: 3px;
    font-weight: bold;
    padding: 7px 20px;
}
.contact-fields .fa{
    margin-right: 5px;
}

.organization-fields .fa{
    margin-right: 5px;
}

.csv-data{
    color: grey;
    font-size: 11px;
}

#uploaded-file-name{
    text-align: center;
    font-style: italic;
    font-size: 13px;
}

.filename{
    font-weight: bold;
    font-size: 15px;
}

#action-btns-step1, #action-btns-step2, #action-btns-step3{
    border: 1px solid black;
    border-top: none;
    padding: 10px 15px 10px 15px;
    height: 50px;
    background-color: #3C8DBC;
}

#action-btns-step1 .btn, #action-btns-step2, #action-btns-step3 .btn{
    font-weight: bold;
}

#list-uploaded-file{
}

.tb-head{
    background-color: #3C8DBC;
    color: white;
}

#preview-data-table{
    border: 1px solid #c2c8cd;
}

#preview-data-table th, #preview-data-table td{
    border-color: #c2c8cd;
}


#preview-data-table .fa{
    margin-right: 5px;
    vertical-align: baseline;
}

#preview-data-table .table-caption{
    font-weight: bold;
    font-size: 15px;
}

.tooltip-inner {
    white-space:pre;
    max-width: none;
}