.inbox-list {
  .content-header {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    h2 {
      padding-left: 15px;
    }
  }

  .content {
    max-width: 900px;
  }
}
