<h2>Show user</h2>
<ul>
  <li>
    <%= @user.login %>
  </li>
  <li>
    <%= @user.full_name %>
  </li>
</ul>
<%= link "Edit", to: admin_user_path(@conn, :edit, @user) %> | 
<%= link "Back", to: admin_user_path(@conn, :index) %>
