<div class="container homepage" style="width:100%;color:grey;">
  <a href="/login" style="color:white;">Login</a>
  &nbsp;|&nbsp;
  <a href="/login" style="color:white;">Register</a>
</div>
<script>
if (window.location.hostname == "www.cercle.co") {
   window.location.href = 'http://get.cercle.co'; 
}
</script>
